.fd {
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 20px;
  color: purple;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
}
